section#how--it--works {
    margin: 10rem auto 1rem;
}

section#how--it--works .how--it--works--header {
    text-align: center;
    margin-bottom: 2rem;
}

section#how--it--works .how--it--works--header h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
}

section#how--it--works .cards--section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}