section#lets--talk--area {
    margin: 7rem auto 1rem;
    text-align: center;
}

section#lets--talk--area .lets--talk--header h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

section#lets--talk--area .lets--talk--content {
    width: 40%;
    margin: auto;
}

section#lets--talk--area .lets--talk--content p {
    font-size: 1.3rem;
    line-height: 1.5;
}