section#we--have--gat--you {
    margin: 20rem 0rem 0rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#we--have--gat--you img {
    margin-bottom: 1.5rem;
}