section#featured--services {
    width: 100%;
    margin: 20rem 0rem 0rem 0rem;
}

section#featured--services .featured--services--heading {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section#featured--services .featured--services--heading h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}

section#featured--services .featured--services--text {
    text-align: center;
    margin-top: 15px;
}

section#featured--services .featured--services--text p {
    font-size: 1.3rem;
}

section#featured--services .featured--services--offers {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
    ## BOOK APOINTMENT FORMS
*/

.book--appointment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}