.service {
    cursor: pointer;
    position: relative;
}

.service .service--image img  {
    width: 100%;
}

.service .service--image img {
    filter: brightness(0.4);
}

.service .service--text--area {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    background-color: rgba(255, 166, 0, 0.349);
    width: 100%;
}

.service .service--text--area .service--heading h2 {
    color: white;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.service .service--text--area .service--text p {
    color: white;
}