.service {
    width: 400px;
    cursor: pointer;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem;
}

.service .service--image {
    width: 100%;
    text-align: left;
    margin: 1rem 0;
    background: transparent;
    border-radius: 50%;
}

.service:hover {
    background: rgb(240, 193, 64);
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}

.service:hover .service--text--area .service--heading,
.service:hover .service--text--area .service--text p {
    color: white;
    transition: all 0.1s ease-in-out;
}

.service .service--text--area .service--heading {
    margin-bottom: 1rem;
}

.service .service--text--area .service--text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.1rem;
}

.service .service--text--area .service--link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}