.situation--card {
    padding: 0.6rem;
    width: 300px;
    height: 180px;
    gap: 10px;
    transition:all 0.4s ease;
}

.situation--card:hover {
    cursor: pointer;
    border-radius: 7px;
    background: #ffffff;
    box-shadow:  5px 5px 24px #e0e0e0,
                -5px -5px 24px #ffffff;
}

.situation--card .card--header {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
}

.situation--card .card--header h3 {
    margin-left: 20px;
    font-family: 'Caveat', cursive;
    font-size: 1.9rem;
}

.situation--card .card--content {
    padding: 0.6rem 1rem;
}

.situation--card .card--content p {
    font-size: 0.9rem;
}